.footer-container {
  padding: 20px;
  background-color: #001F3F;
  position: relative;
}

.footer-line {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.social-icons a {
  color: #fff;
  margin-right: 15px;
  font-size: 24px;
  text-decoration: none;
}
/* .vertical-line {
  width: 0.5px;
  height: 100px;
 
  background-color: white;
  
  margin: 0 20px;
  
} */

.footer-image img {
  max-width: 60px;
  
  filter: invert(100%) brightness(2);
  /* Adjust image size */
}