.header {
    background-image: url("/src/assets/images/header-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px 20px;
    height: 250px;
    /* You can customize the background color */
   
}

.header-left {
    flex: 0.125;
    filter: invert(100%) brightness(2);
    width: 50px;
}

.header-center-first {
    flex: 2;
    text-align: left;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-size: xx-large;
    color: aliceblue;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}


.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logo-icon {
    width: 75px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-icon {
    max-width: 80px;
}

h1 {
    margin: 0;
    font-size: 24px;
}